services:
  duunihaku:
    build: .
    container_name: kontti
    restart: always
    environment:
      - TZ=Europe/Helsinki
      - MOCK=1 # or remove for production
      - THEIRSTACK_API_KEY=${THEIRSTACK_API_KEY}
      - HOME_LAT=${HOME_LAT}
      - HOME_LON=${HOME_LON}
    volumes: # /duunihaku is a shared volume in the Jenkins container.
      - /duunihaku/jaysons:/app/jaysons
      - /duunihaku/logs:/var/log
    ports:
      - "8501:8501"
    command: >
      bash -c "service cron start &&
               streamlit run viewer2.py --server.port=8501 --server.address=0.0.0.0"
